*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


button:hover 
{
    background-color: rgb(35, 35, 255);
    color: white;
    transition: 1s;
}

@keyframes fade 
{
  0% {opacity: 0;
  margin-right: 3em;
  }
  100% {opacity: 1;}


}